.topnav{
    background-color: lightcoral;
    height: 40px;
    margin: 0;
}
.login{
    position: absolute; 
    right: 10px;
    margin-right: 10;
    color: white;
    font: bold;
    font-size: 20px;
    margin-top: 10px;
}
.nav{
    margin-top: 10px;
    color: white;
    font: bold;
    font-size: 20px;
}
body{
    background-color: lightgrey;
}
a{
    color: red;
    font-size: 50px;
}
table{
border-collapse: collapse;
color: black;
}

table:last-child{
    border-left: none;
}
